<% if logged_in? %>

<script type="text/javascript">
 window.currentUser = <%= 
 render("api/users/user.json.jbuilder",
 user:current_user).html_safe %>
</script>
<% end %>

<style>
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap');
</style>

<script type="text/javascript">
  window.demoCover = "<%= image_url('demo_book_cover.jpg') %>";
  window.demoDog = "<%= image_url('demo_dog.jpg') %>";
  window.demoPi = "<%= image_url('demo_pi.jpg') %>";
  window.mast = "<%= image_url('mast.png') %>";
  window.load = "<%= image_url('bookloader2.gif') %>"
 



</script>

<main id="root"> nothing is here yet! </main>